.client {
  margin-bottom: 128px;
  @include media-breakpoint-down(xl) {
    margin-bottom: 110px;
  }
  @include media-breakpoint-down(lg) {
    margin-bottom: 100px;
  }
  @include media-breakpoint-down(md) {
    margin-bottom: 90px;
  }
  @include media-breakpoint-down(sm) {
    margin-bottom: 80px;
  }
  @include media-breakpoint-down(xs) {
    margin-bottom: 80px;
  }
  .client-left {
    h2 {
      color: $white;
      font-weight: 700;
      font-size: 42px;
      padding-right: 50px;
      margin-bottom: 24px;
      span {
        color: $yeallo;
      }
      @include media-breakpoint-down(xxl) {
        padding-right: 8px;
      }
      @include media-breakpoint-down(xl) {
        font-size: 32px;
        padding-right: 30px;
        margin-bottom: 24px;
      }
      @include media-breakpoint-down(lg) {
        font-size: 42px;
        padding-right: 250px;
        margin-bottom: 24px;
      }
      @include media-breakpoint-down(md) {
        font-size: 38px;
        padding-right: 50px;
        margin-bottom: 22px;
      }
      @include media-breakpoint-down(sm) {
        font-size: 36px;
        padding: 0;
        margin-bottom: 20px;
      }
      @include media-breakpoint-down(xs) {
        font-size: 32px;
        padding: 0;
        margin-bottom: 20px;
      }
    }
    p {
      color: $white-secondary;
      font-weight: 400;
      font-size: 18px;
      padding-right: 50px;
      line-height: 30px;
      margin-bottom: 40px;
      @include media-breakpoint-down(xxl) {
        padding-right: 17px;
      }
      @include media-breakpoint-down(xl) {
        font-size: 18px;
        padding-right: 30px;
        line-height: 30px;
      }
      @include media-breakpoint-down(lg) {
        font-size: 18px;
        padding-right: 190px;
        line-height: 30px;
      }
      @include media-breakpoint-down(md) {
        font-size: 18px;
        padding-right: 50px;
        line-height: 30px;
      }
      @include media-breakpoint-down(sm) {
        font-size: 16px;
        padding: 0;
        line-height: 28px;
      }
      @include media-breakpoint-down(xs) {
        font-size: 16px;
        padding: 0;
        line-height: 24px;
      }
    }
    .clients-img {
      position: relative;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .classcunt {
        position: absolute;
        content: "";
        bottom: 0;
        right: -50px;
        padding: 40px 30px;
        border: 4px solid $white;
        background-color: $main;
        border-top-left-radius: 16px;
        @include media-breakpoint-down(xl) {
          padding: 20px 10px;
        }
        @include media-breakpoint-down(lg) {
          right: 1px;
        }
        @include media-breakpoint-down(md) {
          position: static;
          border-top-left-radius: 0;
          margin: 30px 0;
        }
        @include media-breakpoint-down(sm) {
          position: static;
          border-top-left-radius: 0;
          margin: 15px 0;
        }
        @include media-breakpoint-down(xs) {
          position: static;
          border-top-left-radius: 0;
          margin: 15px 0;
        }
        span {
          display: flex;
          align-items: center;
          justify-content: center;
          color: $white;
          font-size: 48px;
          font-weight: 700;
          h1 {
            color: $white;
            font-size: 48px;
            font-weight: 700;
            margin-bottom: 0 !important;
          }
        }
        p {
          color: $white;
          font-size: 18px;
          font-weight: 400;
          margin-bottom: 0;
          padding-right: 0;
        }
      }
    }
  }
  .client-right {
    padding: 38px;
    border: 1px solid $black;
    box-sizing: border-box;
    border-radius: 8px;
    transition: all linear 0.3s;
    @include media-breakpoint-down(xxl) {
      padding: 24px;
    }
    @include media-breakpoint-down(xl) {
      padding: 14px;
    }
    @include media-breakpoint-down(md) {
      padding: 20px;
    }
    @include media-breakpoint-down(sm) {
      padding: 38px;
    }
    &:hover {
      background-color: $main;
    }
    svg {
      width: 25px;
      height: 25px;
      margin-bottom: 20px;
      @include media-breakpoint-down(xl) {
        margin-bottom: 18px;
      }
    }
    h4 {
      color: $white;
      font-weight: 700;
      font-size: 20px;
      margin-bottom: 16px;
      @include media-breakpoint-down(xl) {
        font-size: 18px;
        margin-bottom: 10px;
      }
      @include media-breakpoint-down(md) {
        font-size: 20px;
      }
      @include media-breakpoint-down(sm) {
        font-size: 24px;
      }
      @include media-breakpoint-down(xs) {
        font-size: 24px;
      }
    }
    p {
      font-size: 18px;
      font-weight: 400;
      color: $white;
      line-height: 30px;
      margin-bottom: 24px;
      @include media-breakpoint-down(xxl) {
        font-size: 16px;
        margin-bottom: 20px;
        line-height: 26px;
      }
      @include media-breakpoint-down(xl) {
        font-size: 15px;
        margin-bottom: 12px;
        line-height: 24px;
      }
      @include media-breakpoint-down(md) {
        font-size: 16px;
        margin-bottom: 20px;
        line-height: 24px;
      }
      @include media-breakpoint-down(sm) {
        font-size: 17px;
        margin-bottom: 20px;
        line-height: 26px;
      }
      @include media-breakpoint-down(xs) {
        font-size: 16px;
        margin-bottom: 20px;
        line-height: 24px;
      }
    }
    .button-wrap {
      a {
        color: $white;
        font-size: 18px;
        font-weight: 400;
        @include media-breakpoint-down(xl) {
          font-size: 16px;
        }
        @include media-breakpoint-down(sm) {
          font-size: 16px;
        }
        @include media-breakpoint-down(xs) {
          font-size: 16px;
        }
      }
      svg {
        color: $white;
        margin-bottom: 0;
      }
    }
  }
}
