.footer {
  .short_info_footer {
    .short-text {
      margin-top: 43px;
      @include media-breakpoint-down(xl) {
        margin-top: 46px;
      }
      @include media-breakpoint-down(lg) {
        margin-top: 30px;
      }
      @include media-breakpoint-down(md) {
        margin-top: 20px;
      }
      @include media-breakpoint-down(sm) {
        margin-top: 20px;
      }
      @include media-breakpoint-down(xs) {
        margin-top: 20px;
      }
      p {
        font-size: 18px;
        font-weight: 400;
        color: $white;
        line-height: 30px;
        padding-right: 60px;
        @include media-breakpoint-down(xxl) {
          padding-right: 20px;
        }
        @include media-breakpoint-down(xl) {
          font-size: 16px;
          line-height: 28px;
          padding-right: 0px;
        }
        @include media-breakpoint-down(lg) {
          font-size: 18ppx;
          line-height: 30px;
          padding-right: 50px;
        }
        @include media-breakpoint-down(md) {
          font-size: 18ppx;
          line-height: 30px;
          padding-right: 175px;
        }
        @include media-breakpoint-down(sm) {
          font-size: 17ppx;
          line-height: 28px;
          padding-right: 100px;
        }
        @include media-breakpoint-down(xs) {
          font-size: 16ppx;
          line-height: 24px;
          padding: 0;
        }
      }
    }
  }
  .footer-before-list {
    @include media-breakpoint-down(md) {
      margin-top: 30px;
    }
    @include media-breakpoint-down(sm) {
      margin-top: 30px;
    }
    @include media-breakpoint-down(xs) {
      margin-top: 30px;
    }
    h4 {
      font-weight: 700;
      font-size: 20px;
      color: $white;
    }
    .before-List {
      margin-top: 54px;
      @include media-breakpoint-down(lg) {
        margin-top: 38px;
      }
      @include media-breakpoint-down(md) {
        margin-top: 28px;
      }
      @include media-breakpoint-down(sm) {
        margin-top: 28px;
      }
      @include media-breakpoint-down(xs) {
        margin-top: 28px;
      }
      a {
        display: block;
        font-weight: 400;
        font-size: 18px;
        color: $white;
        margin-bottom: 15px;
        &:last-child {
          margin-bottom: 0;
        }
        @include media-breakpoint-down(xl) {
          font-size: 16px;
          margin-bottom: 12px;
        }
        @include media-breakpoint-down(md) {
          font-size: 16px;
          margin-bottom: 10px;
        }
        @include media-breakpoint-down(sm) {
          font-size: 16px;
          margin-bottom: 10px;
        }
        @include media-breakpoint-down(xs) {
          font-size: 16px;
          margin-bottom: 10px;
        }
      }
    }
  }
  .footer-newsletter-part {
    h4 {
      font-weight: 700;
      font-size: 20px;
      color: $white;
      @include media-breakpoint-down(md) {
        margin-top: 60px;
      }
      @include media-breakpoint-down(sm) {
        margin-top: 30px;
      }
      @include media-breakpoint-down(xs) {
        margin-top: 30px;
      }
    }
    .newsletter-body {
      margin-top: 54px;
      @include media-breakpoint-down(lg) {
        margin-top: 10px;
      }
      @include media-breakpoint-down(md) {
        margin-top: 20px;
      }
      @include media-breakpoint-down(sm) {
        margin-top: 20px;
      }
      @include media-breakpoint-down(xs) {
        margin-top: 20px;
      }
      p {
        font-size: 17px;
        font-weight: 400;
        color: $white;
        line-height: 30px;
        margin-bottom: 15px;
        @include media-breakpoint-down(xl) {
          font-size: 15px;
        }
        @include media-breakpoint-down(lg) {
          font-size: 17px;
          line-height: 30px;
          padding-right: 90px;
        }
        @include media-breakpoint-down(md) {
          font-size: 17px;
          line-height: 28px;
          padding-right: 210px;
        }
        @include media-breakpoint-down(sm) {
          font-size: 17px;
          line-height: 28px;
        }
        @include media-breakpoint-down(xs) {
          font-size: 16px;
          line-height: 24px;
        }
      }
      .newsletter-form {
        background: $white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 8px;
        @include media-breakpoint-down(md) {
          margin-right: 120px;
        }
        input {
          background: transparent;
          border: none;
          outline: none;
          margin-left: 15px;
          font-size: 16px;
          @include media-breakpoint-down(xl) {
            margin-left: 10px;
          }
        }
        button {
          background-color: $main;
          padding: 18px 25px;
          border: none;
          outline: none;
          border-top-right-radius: 8px;
          border-bottom-right-radius: 8px;
          @include media-breakpoint-down(xl) {
            padding: 12px 8px;
          }
          @include media-breakpoint-down(sm) {
            padding: 12px 24px;
          }
          @include media-breakpoint-down(xs) {
            padding: 10px 20px;
          }
          svg {
            width: 25px;
            height: 25px;
            fill: $main;
            stroke: $white;
          }
        }
      }
      .footer-scioal {
        margin-top: 25px;
        display: flex;
        gap: 15px;
        .images {
          width: 40px;
          height: 40px;
          background-color: $white;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          outline: none;
          cursor: pointer;
          transition: all linear 0.3s;
          &:hover {
            background-color: $main;
            svg {
              path {
                fill: $white;
                transition: all linear 0.3s;
              }
            }
          }
        }
      }
    }
  }
}
.copy {
  margin-top: 30px;
  padding: 20px 0;
  width: 100%;
  background-color: $main;
  text-align: center;
  overflow: hidden;
  @include media-breakpoint-down(lg) {
    margin-top: 56px;
  }
  @include media-breakpoint-down(sm) {
    padding: 20px 1px;
  }
  @include media-breakpoint-down(xs) {
    padding: 20px 1px;
  }
  span {
    color: $white;
    font-weight: 400;
    font-size: 14px;
  }
}
